<section class="vision-section" id="our-vision">
  
    <!-- Content -->
    <div class="container-fluid">
      <div class="row v-mobile-flip">
        <div class="our-vision col-md-7 col-sm-12">
  
          <!-- Title -->
          <h5 class="vision-title">{{ 'vision.title' | translate }}</h5>
  
          <!-- Subtitle -->
          <h2 class="vision-subtitle">{{ 'vision.subtitle' | translate }}</h2>
  
          <!-- Description -->
          <p class="vision-description">
            {{ 'vision.description' | translate }}
          </p>
  
          <!-- Director Info -->
           <div class="directors">
            <div class="director-info">
              <div class="director-img">
                <img src="assets/images/Saud.png" alt="Sht. Saud Al Qasimi">
              </div>
              <div class="director-text">
                <p class="director-name">{{ 'director.person1.name' | translate }}</p>
                <p class="director-role">{{ 'director.person1.role' | translate }}</p>
              </div>
  
            </div>
            <div class="director-info">
              <div class="director-img">
                <img src="assets/images/Lamia.png" alt="Eng. Lamia Al Shamsi">
              </div>
              <div class="director-text">
                <p class="director-name">{{ 'director.person2.name' | translate }}</p>
                <p class="director-role">{{ 'director.person2.role' | translate }}</p>
              </div>
  
            </div>
           </div>

  
        </div>
        <div class="proud-to-serve col-md-5 col-sm-12">
          <h5>{{ 'proudToServe.title' | translate }}</h5>
              <!-- Video Background -->
               <div class="text-video">
                <video playsinline autoplay muted loop class="vision-video">
                  <source src="assets/videos/number-bg.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="text">
                  <p>{{ 'proudToServe.number' | translate }}</p>
                </div>
               </div>
              

              <h3>{{ 'proudToServe.subtitle' | translate }}</h3>
        </div>
      </div>
    </div>
  </section>