<footer class="footer" id="footer">
    <div class="container-fluid">
      <div class="row align-items-center mb-5">
        <div class="col-md-4 text-md-start text-center">
          <img src="assets/images/Logo.png" alt="Logo" class="footer-logo" />
        </div>

        <div class="col-md-8 text-md-end text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="#home" class="footer-link">{{ 'footer.links.home' | translate }}</a>
            </li>
            <li class="list-inline-item">
              <a href="#about" class="footer-link">{{ 'footer.links.vision' | translate }}</a>
            </li>
            <li class="list-inline-item">
              <a href="#services" class="footer-link">{{ 'footer.links.scope' | translate }}</a>
            </li>
            <li class="list-inline-item">
              <a href="#contact" class="footer-link">{{ 'footer.links.services' | translate }}</a>
            </li>
            <li class="list-inline-item">
              <a href="#contact" class="footer-link">{{ 'footer.links.initiatives' | translate }}</a>
            </li>
            <li class="list-inline-item">
              <a href="#contact" class="footer-link">{{ 'footer.links.downloads' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
  

       <div class="border-top">
        <div class="row pt-4">
          <div class="col-md-6 text-md-start text-center">
            <p class="mb-0 light-text">&copy; {{ 'footer.copyright' | translate }}</p>
          </div>
    

          <div class="col-md-6 text-md-end text-center">
            <div class="social-section">
              <span>{{ 'footer.followus' | translate }}</span>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#facebook" class="social-link">
                    <i class="pi pi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#instagram" class="social-link">
                    <i class="pi pi-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#pi" class="social-link">
                    <i class="pi pi-youtube"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#twitter" class="social-link">
                    <i class="pi pi-twitter"></i>
                  </a>
                </li>
                
                
              </ul>
            </div>
            
            
          </div>
        </div>
       </div>
      
    </div>
  </footer>
  